@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* .text-primary{
  color: #20385c;
}

.bg-primary{
  background-color: #20385c;
} */

@theme {
  --color-primary-50:  #f2f5fa;
  --color-primary-100: #e1e7f1;
  --color-primary-200: #c3cfe4;
  --color-primary-300: #9fb0d3;
  --color-primary-400: #6f88bc;
  --color-primary-500: #4a649f;
  --color-primary-600: #364d84;
  --color-primary-700: #2b3f6c;
  --color-primary-800: #20385c; /* your base color */
  --color-primary-900: #162744;
}

/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed ;
    --foreground:  #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
