@import "tailwindcss";

@theme {


  --color-primary-50:  #f2f5fa;
  --color-primary-100: #e1e7f1;
  --color-primary-200: #c3cfe4;
  --color-primary-300: #9fb0d3;
  --color-primary-400: #6f88bc;
  --color-primary-500: #4a649f;
  --color-primary-600: #364d84;
  --color-primary-700: #2b3f6c;
  --color-primary-800: #20385c; /* your base color */
  --color-primary-900: #162744;
  --color-primary-950: #0f1b37;



    --color-secondary-50:  #fdf7ef;
  --color-secondary-100: #f8e9d1;
  --color-secondary-200: #f2d6a8;
  --color-secondary-300: #ebc07d;
  --color-secondary-400: #e2a953;
  --color-secondary-500: #d8922f;
  --color-secondary-600: #bc8737; /* base color */
  --color-secondary-700: #a66e2b;
  --color-secondary-800: #895822;
  --color-secondary-900: #6d431b;
  --color-secondary-950: #523116;
 
}


body {
  @apply font-sans antialiased;
}

/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed ;
    --foreground:  #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
